<section id="search" class="search-wrap">
    <h1>Find A Question</h1>
    <form action="questions.html" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="SAML, SSO, AD...">
      <input type="submit" value="Search">
    </form>
  </section>
